$primary-color:#ffff;
$hover-color: orange;
$background-color:black;
$btn-bgcolor:#1D809F;
$btn-color:white;
$btn-bgColorOffer:black;
$section-title:#ecb807;
$section-bgcolor:#1d809f;
$btn-bgColorClick: #f8f9fa;